.form-container{
    width: 50%;
    max-height: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor:pointer;
    transition: background-color .3s  ease ;
}
.form-container:hover{
    background-color: wheat;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,.form-group textarea {
    width: 100%;
    padding: 5px;
    /* font-size: 20px; */
    border: 1px solid rgba(rgb(201, 188, 188));
    margin-top: 5px;
}
textarea{
    resize: vertical;

}
input[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    border-radius: 8px;
    color: darkorange;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color color;
}
input[type="submit"]:hover{
    background-color: tomato;
    color: white
}